// Variables
$screen-min-width: 768px;

//**********************************************
// For screen readers only
//**********************************************

.visually-hidden {
  height: 0;
  max-height: 0 !important;
  opacity: 0;
  position: relative;
  visibility: hidden;
  width: 0;
  z-index: -999;
}

//**********************************************
// Background colors
//**********************************************

.bg {
  &-transparent {
    background-color: #fff !important;
    opacity: 90%
  }

  &-white {
    background-color: #fff !important;
  }
}

@for $i from 1 through 9 {
  .p#{$i} {
    padding: #{$i}em;
  }

  .m#{$i} {
    margin: #{$i}em;
  }
}

//**********************************************
// Elements styled by classes
//**********************************************

.background {
  background-color: #000;
  height: 100%;
  left: 0;
  position: fixed;
  opacity: 0.7;
  overflow: hidden;
  top: 0;
  width: 100%;
}

.button {
  .container {
    margin-bottom: 2em;
  }
}

.fill {
  left: 0;
  overflow: visible;
  position: absolute;
  right: 0;
  top: 0;
}

.modal {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 4px 4px 10px #000;
  display: block;
  max-height: 430px;
  max-width: 100%;
  right: 0;
  top: 0;
  z-index: 20;

  &-content {
    background-color: #fff;
    border: none;
  }

  &-spinner {
    animation: spin 2s linear infinite;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
  }

  @media (min-width: $screen-min-width) {
    position: sticky;
    max-width: 50%;
    width: 50%;
  }
}

.main {
  position: relative;
}

.minimize {
  height: 30px !important;
  width: 30px !important;
}

.overlay {
  overflow: visible !important;

  &-content {
    background-color: #fff;
    left: 50%;
    padding: 1em;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
  }

  &:before {
    background-color: #000;
    bottom: 0;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0.7;
    overflow: visible;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
  }

  @media (max-width: $screen-min-width) {
    position: relative;
  }
}

.pos {
  &-fixed {
    position: fixed;
    left: 0;
    top: 0;

    &-bottom {
      bottom: 0;
      top: unset;
    }

    &-left {
      left: 0;
    }

    &-top {
      top: 0;
    }
  }

  &-relative {
    position: relative;
  }
}
.submit {
  box-shadow: 1px 1px 1px #000;
  font-size: 2em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  &-text {
    // left: 50%;
    // position: absolute;
    // text-align: center;
    // top: 50%;
    // transform: translate(-50%, -50%);
  }
}

.survey {
  &:not(.visually-hidden){
    position: relative;
    z-index: 1;
  }

  &.visually-hidden {
    max-height: 0 !important;

    & .button-container, .ndt-related, .test-container, .submit {
      max-height: 0 !important;

      & .button, .container {
        max-height: 0;

        & .form-field {
          max-height: 0 !important;

          & .field-container, .form-inline {
            max-height: 0 !important;

            & label, input, select {
              max-height: 0 !important;
            }
          }
        }
      }
    }
  }
}

//**********************************************
// Elements styled by IDs
//**********************************************

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#branding {
  width: 100%;
  text-align: center;
}

#branding img {
  height: 60px;

  @media (min-width: $screen-min-width) {
    padding: 0 3em;
  }

  &:first-child {
    @media (max-width: $screen-min-width) {
      margin-bottom: 0.75em;
    }
  }

}

#Consent {
  display: none;

  &.is-expanded {
    display: block;
  }
}

#ErrorMessage {
  color: red;
  font-weight: bold;
}

#results {
  // background-color: #fff;
  // position: fixed;
  // width: 100%;
  // z-index: 5;
}

#screenshots {

  @media (min-width: $screen-min-width) {
    display: flex;
    margin-left: -1em;
  }
}

.screenshot {
  border: 1px solid #000;
  padding: 1em;

  &-image {
    display: block;
    object-fit: cover;
    width: 100%;

    @media (min-width: $screen-min-width) {
      max-height: 13.75em;
    }
  }

  &-caption {
    font-size: 0.75em;
  }

  &:first-child {
    @media (max-width: $screen-min-width) {
      margin-top: 2em;
      margin-bottom: 2em;
    }
  }

  @media (min-width: $screen-min-width) {
    margin-left: 1em;
  }

}

#SurveyNote {
  font-style: italic;
  display: block;
}

#Welcome {
  padding: 1em;

  @media (min-width: $screen-min-width) {
    padding: 3em;
  }
}

.welcome {
  &-content {
    p:last-child {
      padding-bottom: 2em;
    }
  }
}
