.visually-hidden {
  height: 0;
  opacity: 0;
  position: relative;
  visibility: hidden;
  width: 0;
  z-index: -999;
}

.transparent-background {
  background-color: #fff;
  opacity: 90%
}


.bg {

  &-white {
    background-color: #fff;
  }
}

.submit {
  box-shadow: 3px 3px 5px #ccc;
  font-size: 2em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  &-text {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.main {
  position: relative;
}

.loader {
  background-color: rgba(0, 0, 0, 0.75);
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 20;

  &-content {
    background-color: #fff;
    left: 50%;
    min-width: 80%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &-spinner {
    animation: spin 2s linear infinite;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
  }

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#results {
  background-color: #fff;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 5;
}

#ErrorMessage {
  color: red;
  font-weight: bold;
}

//**********************************************
// Map
//**********************************************

#Map {
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

.marker {
  background-color: #567890;
  background-size: cover;
  box-shadow: 2px 2px 2px #fff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
