// Variables
$screen-min-width: 768px;

//**********************************************
// For screen readers only
//**********************************************

.visually-hidden {
  height: 0;
  opacity: 0;
  position: relative;
  visibility: hidden;
  width: 0;
  z-index: -999;
}

//**********************************************
// Background colors
//**********************************************

.bg {
  &-transparent {
    background-color: #fff !important;
    opacity: 90%
  }

  &-white {
    background-color: #fff !important;
  }
}

//**********************************************
// Elements styled by classes
//**********************************************

.fill {
  left: 0;
  overflow: visible;
  position: absolute;
  right: 0;
  top: 0;
}

.loader {
  background-color: rgba(0, 0, 0, 0.75);
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 20;

  &-content {
    background-color: #fff;
    left: 50%;
    min-width: 80%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &-spinner {
    animation: spin 2s linear infinite;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
  }

}

.main {
  position: relative;
}

.overlay {
  overflow: visible !important;

  &-content {
    background-color: #fff;
    left: 50%;
    padding: 1em;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
  }

  &:before {
    background-color: #000;
    bottom: 0;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0.7;
    overflow: visible;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
  }

  @media (max-width: $screen-min-width) {
    position: relative;
  }
}

.submit {
  box-shadow: 1px 1px 1px #000;
  font-size: 2em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  &-text {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

//**********************************************
// Elements styled by IDs
//**********************************************

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#branding {
  width: 100%;
  text-align: center;
}

#branding img {
  padding: 0 3em;
  height: 60px;
}

#ErrorMessage {
  color: red;
  font-weight: bold;
}

#results {
  background-color: rgba(255,255,255,0.85);
  position: fixed;
  width: 100%;
  z-index: 5;
}
