COMPOSE_FILE=docker-compose.yml

DOCKER_IMAGE_BACKEND={{backend.Dockerfile}}
DOCKER_IMAGE_FRONTEND={{frontend.Dockerfile}}

# If building locally
# PIECEWISE_ORIGINS=*
# PIECEWISE_POSTGRES_DB=test
# PIECEWISE_POSTGRES_PORT=5432

PIECEWISE_POSTGRES_PASS=password
PIECEWISE_FRONTEND_PORT=8080
PIECEWISE_BACKEND_PORT=8081
PIECEWISE_BACKEND_URL=http://localhost:8081/api/v1/submissions
