NODE_ENV=development

# Admin username and password
# PIECEWISE_ADMIN_USERNAME=admin
# PIECEWISE_ADMIN_PASSWORD=

# Viewer username and password
# PIECEWISE_VIEWER_USERNAME=viewer
# PIECEWISE_VIEWER_PASSWORD=

# Log level
# PIECEWISE_LOG_LEVEL=error

# Webserver host and port
# PIECEWISE_HOST=localhost
# PIECEWISE_PORT=3000

# Postgres database connection settings
# PIECEWISE_DB_HOST=localhost
# PIECEWISE_DB_PORT=5432
# PIECEWISE_DB_DATABASE=piecewise
# PIECEWISE_DB_USERNAME=piecewise
# PIECEWISE_DB_PASSWORD=
# PIECEWISE_DB_POOL_MIN=0
# PIECEWISE_DB_POOL_MAX=10
# PIECEWISE_DB_TIMEOUT=0

# OAuth2 configuration
# PIECEWISE_OAUTH_AUTH_URL=
# PIECEWISE_OAUTH_TOKEN_URL=
# PIECEWISE_OAUTH_CLIENT_ID=
# PIECEWISE_OAUTH_CLIENT_SECRET=
# PIECEWISE_OAUTH_CALLBACK_URL=

# Mapbox API Key
# PIECEWISE_MAPBOX_KEY=

# Optional cloudflare access support
# PIECEWISE_CFACCESS_URL=
# PIECEWISE_CFACCESS_AUDIENCE=
