NODE_ENV=development

PIECEWISE_ADMIN_USERNAME=admin
PIECEWISE_ADMIN_PASSWORD=averylongandgoodpassword

PIECEWISE_CFACCESS_AUDIENCE=longtokenstring
PIECEWISE_CFACCESS_URL=https://example.cloudflareaccess.com

PIECEWISE_CFACCESS_CLIENT_ID=longtokenstring3
PIECEWISE_CFACCESS_CLIENT_SECRET=longtokenstring4

PIECEWISE_PORT=3000

PIECEWISE_SECRETS=secret1,secret2
