.visually-hidden {
  height: 0;
  opacity: 0;
  position: relative;
  visibility: hidden;
  width: 0;
  z-index: -999;
}

.transparent-background {
  background-color: #fff;
  opacity: 90%
}


.bg {

  &-white {
    background-color: #fff;
  }
}

.submit {
  font-size: 2em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main {
  position: relative;
}

.loader {
  background-color: #fff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;

  &-spinner {
    animation: spin 2s linear infinite;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
  }

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#results {
  background-color: #fff;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 10;
}


//**********************************************
// Map
//**********************************************

#Map {
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

.marker {
  background-color: #567890;
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
