<!DOCTYPE html>

<html>

<head>
	<meta charset='utf-8' />
	<title>{{ site_name }}</title>
	<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
	<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.6/mapbox.css' rel='stylesheet' />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link href='css/ndt_d3.css' rel='stylesheet' />
	<link href="css/jquery-ui-slider-pips.css" rel="stylesheet" />
	<link href='css/jquery-ui.min.css' rel='stylesheet' />
	<link href='css/mlab.css' rel='stylesheet' />
	<script src='//api.tiles.mapbox.com/mapbox.js/v2.1.6/mapbox.js'></script>
	<script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.2.0/leaflet-omnivore.min.js'></script>
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src='js/mlab.js'></script>
	<script src='js/ndt.js'></script>
	<script src='js/ndt_d3.js'></script>
	<script src='js/d3.v3.min.js'></script>
	<script src='js/center.js'></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/jquery-ui-slider-pips.min.js"></script>
</head>

<body>

<div id="spinner">
	<div id="spin">&nbsp;</div>
	<div id="loading">LOADING</div>
</div>

<div id="welcome-container">
	<div id="header">
		<div id="intro">
			<h3>{{ intro_text }}</h3>
		</div>
	</div>
	<div id="sidebar">
		<form action="/collector/collect" method="get" id="collector">
			<div id="extra-data" class="ndt-related">
				{% include 'html_form' %}
				<div class="container" id="consent-text">
					<p>
						<span class="required">*</span> <input type="checkbox" name="data_acknowledgement" id="data_acknowledgement" value="yes" /> {{ consent_message }}
					</p>
				</div>
				<input name="latitude" id="latitude" type="hidden" />
				<input name="longitude" id="longitude" type="hidden" />
				<input name="actual_download" id="actual_download" type="hidden" />
				<input name="actual_upload" id="actual_upload" type="hidden" />
				<input name="min_rtt" id="min_rtt" type="hidden" />
				<input name="bigquery_key" id="bigquery_key" type="hidden" />
			</div>
			<div id="test-container">
				<div id="ndt-div">
					<div id="ndt-svg"></div>
				</div>
				<div id="approx-loc">
					<h3 class="league-gothic">{{ run_test_heading }}</h3>
					<div id="ndt-status"></div>
				</div>
			</div>
			<div id="ndt-results" class="ndt-related">
				<div class="container">
					<div id="your-results">
						<h3 class="league-gothic">{{ test_result_heading }}</h3>
						<p>{{ download_result_label }} <span id="s2cRate"></span> {{ download_result_unit }}</p>
						<p>{{ upload_result_label }} <span id="c2sRate"></span> {{ upload_result_unit }}</p>
						<p>{{ rtt_result_label }} <span id="MinRTT"></span> {{ rtt_result_unit }}</p>
					</div>
					<div id="thankyou">
						<h3 class="league-gothic">{{ thank_you_heading }}</h3>
						<strong>{{ thank_you_message }}</strong><br /><br />
						<strong>{{ next_action_message }}</strong>
						<ul>
						  <li><a href="#" onclick="showMap()">{{ next_action_show_map_text }}</a></li>
						  <li><a href="{{ next_action_learn_about_link }}" target="_parent">{{ next_action_learn_about_text }}</a></li>
						  <li><a href="#" onclick="showSocialShare()">{{ next_action_social_share_text }}</a></li>
						</ul>
						<div id="socialshare">
						<!-- Social Button HTML -->
						{% if social_share_twitter is not none %}
							<!-- Twitter -->
							<a href='
							{{ social_share_twitter }}' target="_blank" class="share-btn twitter">
							<i class="fa fa-twitter"></i>
							</a>
						{% endif %}
						{% if social_share_gplus is not none %}
							<!-- Google Plus -->
							<a href='{{ social_share_gplus }}' target="_blank" class="share-btn google-plus">
							<i class="fa fa-google-plus"></i>
							</a>
						{% endif %}
						{% if social_share_facebook is not none %}
							<!-- Facebook -->
							<a href='{{ social_share_facebook }}' target="_blank" class="share-btn facebook">
							<i class="fa fa-facebook"></i>
							</a>
						{% endif %}
						{% if social_share_stumbleupon is not none %}
							<!-- StumbleUpon (url, title) -->
							<a href='{{ social_share_stumbleupon }}' target="_blank" class="share-btn stumbleupon">
							<i class="fa fa-stumbleupon"></i>
							</a>
						{% endif %}
						{% if social_share_reddit is not none %}
							<!-- Reddit (url, title) -->
							<a href='{{ social_share_reddit }}' target="_blank" class="share-btn reddit">
							<i class="fa fa-reddit"></i>
							</a>
						{% endif %}
						{% if social_share_linkedin is not none %}
							<!-- LinkedIn -->
							<a href='{{ social_share_linkedin }}' target="_blank" class="share-btn linkedin">
							<i class="fa fa-linkedin"></i>
							</a>
						{% endif %}
						{% if social_share_email is not none %}
							<!-- Email -->
							<a href='{{ social_share_email }}' target="_blank" class="share-btn email">
							<i class="fa fa-envelope"></i>
							</a>
						{% endif %}
						</div>
					</div>
				</div>
			</div>
		</form>
		<div id="icons">
			<div id="take-test" onclick="runTest()">
				<img src="images/speed.svg" id="test-icon" alt="{{ icon_test_label }}" title="{{ icon_test_label }}" /><span class="button-label">{{ icon_test_label }}</span>
			</div>
			<div id="explore-map" onclick="showMap()">
				<img src="images/compass.png" id="exploreMap" alt="{{ icon_browse_label }}" title="{{ icon_browse_label }}" /><span class="button-label">{{ icon_browse_label }}</span>
			</div>
			<div id="learn-more">
				<a href="{{ icon_learn_link }}" target="_parent" ><img src="images/about.svg" alt="{{ icon_learn_alt_text }}" title="{{ icon_learn_alt_text }}" /><span class="button-label">{{ icon_learn_label }}</span></a>
			</div>
		</div>
	</div>
</div>

<script>
	var ndtServer,
		ndtServerIp,
		ndtPort = "3010",
		ndtProtocol = 'wss',
		ndtPath = "/ndt_protocol",
		ndtUpdateInterval = 1000,
		c2sRate,
		s2cRate,
		MinRTT;

	getNdtServer();

	uncheckAcknowledgement();

	NDT_meter = new NDTmeter('#ndt-svg');
	NDT_meter.meter.on("click", function () {
		NDT_client = new NDTjs(ndtServer, ndtPort, ndtProtocol, ndtPath, NDT_meter, ndtUpdateInterval);
		NDT_client.startTest();
	});

	if ("geolocation" in navigator) {
		navigator.geolocation.getCurrentPosition(success, error);
	}

	function success(position) {

		document.getElementById('latitude').value = position.coords.latitude;
		document.getElementById('longitude').value = position.coords.longitude;

		var xhr = new XMLHttpRequest(),
		currentLocationURL = "https://nominatim.openstreetmap.org/reverse?format=json&lat=" + position.coords.latitude + "&lon=" + position.coords.longitude + "&zoom=18&addressdetails=1";

		var currentLoc;
		xhr.open('GET', currentLocationURL, true);
		xhr.send();
		xhr.onreadystatechange = function () {
			if (xhr.readyState === 4) {
				if (xhr.status === 200) {
					currentLoc = JSON.parse(xhr.responseText);
					console.log("Location received");

					// currentLocText.text(currentLoc.address.road + currentLoc.address.neighbourhood + currentLoc.address.suburb + currentLoc.address.city + currentLoc.address.state);
					$('#mobile-container').append('<div id="mobile-approx-loc"></div>')
					$('#approx-loc, #mobile-approx-loc').append("<p>Searching from:</p><p>" + currentLoc.address.road + ", " + currentLoc.address.city + ", " + currentLoc.address.state + "</p>");
				} else {
					console.log('Location lookup failed');
				}
			}
		};
	}

	function error(error) {
		document.getElementById('msg').innerHTML = 'ERROR(' + error.code + '): ' + error.message;
	}

	function getNdtServer () {
		var xhr = new XMLHttpRequest(),
			mlabNsUrl = 'https://mlab-ns.appspot.com/ndt_ssl?format=json';

		xhr.open('GET', mlabNsUrl, true);
		xhr.send();
		xhr.onreadystatechange = function () {
			if (xhr.readyState === 4) {
				if (xhr.status === 200) {
					ndtServer = JSON.parse(xhr.responseText).fqdn;
					ndtServerIp = JSON.parse(xhr.responseText).ip;
					console.log('Using M-Lab Server ' + ndtServer);
				} else {
					console.log('M-Lab NS lookup failed.');
				}
			}
		};
	};
</script>

<div id="map">
<div id="mapview-icons">
	<a href="index.html" alt="{{ mapview_icon_test_alt_text }}" title="{{ mapview_icon_test_alt_text }}"><img src="images/speed.svg" id="mapview-test-icon" alt="{{ mapview_icon_test_alt_text }}" title="{{ mapview_icon_test_alt_text }}" /></a>
	<a href="{{ mapview_icon_learn_link }}" target="_parent" ><img src="images/about.svg" alt="{{ mapview_icon_learn_alt_text }}" title="{{ mapview_icon_learn_alt_text }}" /></a>
</div>
</div>

<script>
// This is the Piecewise mapping script.

// If set to 'hex' then GeoJSON files are assumed to be named like
// 'YYYY_MM-<resolution>.json', where 3 files exist for each of resolutions
// 'low', 'medium', 'high'.  If anything other than 'hex', then this value is
// the MMMM_YY- suffix to look for. For example:
// If set to 'city_council_districts', then the system will look for
// GeoJSON files like 'MMMM_YY-city_council_districts.geojson'.

// polygonType is a variable name defining your aggregation regions. 
// Change the name to reflect the aggregated regions you are using if needed.
var polygonType = '{{ mapscript_layer_name }}';

// Either 'topojson' or 'geojson'.  The Node.js script creates both TopoJSON and
// GeoJSON files.  TopoJSON files are significantly smaller in size, but need to
// be converted to GeoJSON by the browser.  There may be some balance between
// loading a smaller file across the network and the processing time on the
// client-side to convert the TopJSON to GeoJSON.  I would conjecture that
// the network is the most limiting factor and that generally TopoJSON will be
// the right choice.  TODO: prove this theory.
var jsonType = "{{ mapscript_json_type }}";


// The minimum number of data points in any given polygon for a it to be
// considered statistically relevant.  These cells will either not be displayed
// or will be displayed with a different styling.
var minDataPoints = "{{ mapscript_min_data_points }}";

// Defines how each overlay is treated on load.  If an overlay is enabled, then
// there will be a checkbox for it in the layers control. 'defaultOn' determines
// whether it will be displayed by default. NOTE: If only a single overlay is
// enabled, then no checkbox will be displayed, since it doesn't make much sense
// to disable the only meaningful layer that exists.
var overlays = {
	'polygon': {
		'enabled': true,
		'defaultOn': true
	},
	'plot': {
		'enabled': false,
		'defaultOn': false
	}
};

// Defines the layers that are going to be added to the map.
var geoLayers = {
	'{{ mapscript_layer_name }}': {
		'name': '{{ mapscript_layer_name_pretty }}',
		'polygonFile': 'geofiles/{{ topojson_file }}',
		'dataUrl': 'stats/q/{{ aggregation_name }}?format=json&stats=AverageRTT,DownloadCount,MedianDownload,AverageDownload,UploadCount,MedianUpload,AverageUpload,DownloadMax,UploadMax&b.spatial_join=key&b.time_slices=month&f.time_slices=',
		'dbKey': '{{ dbKey }}',
		'geoKey': '{{ geoKey }}',
		'cache': null,
		'layer': null
	},
};

// Which of the geoLayers should be the one added to the map by default
var defaultLayer = '{{ mapscript_layer_name }}';

// If set to true, then prefetch the GeoJSON files into a local cache.  WARNING:
// You may not want to enable if you expect mobile, low bandwidth, or otherwise
// bandwidth restricted users, as this can pull in many megabytes of data.
var seedCache = false;

// The inteval (in milliseconds) to use when animating the map.
var animateInterval = 1500;

var zoom = {{ mapscript_zoom_level }};

// These are the labels that will be used for the month slider in the control
// box in the lower left corner.
// 
// the following was throwing errors on some systems, likely bcs of python, so commented 
// out temporarily
// var monthNames = [
//	{% for key, value in mapscript_month_names.iteritems() %}
//		'{{ value }}' {% if not loop.last %},{% endif %} 
//	{% endfor %}
//];

var monthNames = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct',
	'Nov','Dec'];

// An object which will hold cached GeoJSON files so that we don't have to fetch
// them from the server more than once.  This could potentially be problematic
// if there are many files and they are large.
var geoJsonCache = {};
var geometryCache = null;

// The oldest year and month for which we have data.
var startYear = {{ mapscript_start_year }};
var startMonth = {{ mapscript_start_month }};

// Get current year/month into variables
var currentYear = new Date().getFullYear();
var currentMonth = new Date().getMonth() + 1;
// Zero pad the front of the month
currentMonth = currentMonth < 10 ? '0' + currentMonth : currentMonth;

// Be sure that we actually have data for the current month.  If not, then fall
// back to the previous month.
var start = Date.UTC(currentYear, currentMonth - 1, 1) / 1000;
var end = Math.floor(Date.now() / 1000);
var dataUrl = geoLayers[defaultLayer]['dataUrl'] + start + ',' + end;
$.ajax({
	url: dataUrl,
	dataType: 'json',
	async: false,
	success: function(resp) {
		if ( ! resp.features.length ) {
			if ( currentMonth == '01' ) {
				currentMonth = 12;
				currentYear = currentYear - 1;
			} else {
				currentMonth = currentMonth - 1;
				currentMonth = currentMonth < 10 ?
					'0' + currentMonth : currentMonth;
			}
			console.log("No data for current year/month, using last" +
				" month instead.");
		}
	}
});

// An object with the years and months we have data for.  This will be used to
// auto-generate various form controls.
var dates = {};
var thisYear = startYear;
while (thisYear <= currentYear) {
	if (thisYear == currentYear) {
		var months = [];
		for (i = 1; i <= currentMonth; i++) { months.push(i) };
		dates[thisYear] = months
	} else {
		dates[thisYear] = ['1','2','3','4','5','6','7','8','9','10','11','12'];
	}
	thisYear++;
}

// Create the map
var map = L.map('map', {zoomControl: false}).setView(center, zoom);
map.scrollWheelZoom.disable();
var control = L.control.zoom({position: '{{ mapcontrols_zoom_pos }}'});
map.addControl(control);

// Set the base tile layer type
{% if 'mapbox' in mapscript_base_layer %}
	// Use Mapbox as a base tile layer
	var baseTileLayer = L.tileLayer(
		'{{ mapscript_mapbox_api_url }}', {
		attribution: '&copy; <a href="http://mapbox.com/">Mapbox</a>'
	});
{% elif 'osm' in mapscript_base_layer %}
	// Use Open Street Maps as a base tile layer
	var baseTileLayer = L.tileLayer('{{ mapscript_osm_api_url }}', {
		attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a>' +
			'contributors'
	});
{% endif %}

// Set the default base tile layer. 
map.addLayer(baseTileLayer);

// Add other base tile layer providers as needed
var baseLayers = {
	 '{{ mapscript_base_layer }}': baseTileLayer
};

var layerCtrl = L.control.layers(baseLayers, null, { collapsed: false, position: '{{ mapcontrols_legend_pos }}' });
addControls();
layerCtrl.addTo(map);
addLegend();

for (var geoLayer in geoLayers) {
	setupLayer(geoLayer);
}



</script>

</body>

</html>
