---
- hosts: all
  tasks:
    - include: update_pw_web.yml
      become: true
      become_user: root
- name: Fetch updated piecewise repo
  git: repo=https://github.com/opentechinstitute/piecewise.git 
       dest=/opt/piecewise.git/
       version=update-ndt-test

- name: Deploy updated piecewise website code
  file: src=/opt/piecewise.git/{{ item.src }} dest=/opt/{{ item.dest }} state=link
  with_items:
      - { src: piecewise_web, dest: piecewise_web }

- name: Restart services
  service: name={{ item }} state=restarted
  with_items: 
    - uwsgi
    - nginx