---
- hosts: all
  tasks:
      become: true
      become_user: root
- name: Fetch updated piecewise repo
  git: repo=https://github.com/opentechinstitute/piecewise.git 
       dest=/opt/piecewise.git/
       version=master
- name: Deploy updated piecewise code
  file: src=/opt/piecewise.git/{{ item.src }} dest=/opt/{{ item.dest }} state=link
  with_items:
      - { src: piecewise, dest: piecewise }

- name: Restart services
  service: name={{ item }} state=restarted
  with_items: 
    - uwsgi
    - nginx
    