<!DOCTYPE html>

<html>

<head>
	<meta charset='utf-8' />
	<title>Your Map's Name</title>
	<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
	<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.6/mapbox.css' rel='stylesheet' />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="icon" href="/app/assets/images/mlab_logo_m.ico">
	<link href="css/jquery-ui-slider-pips.css" rel="stylesheet" />
	<link href='css/jquery-ui.min.css' rel='stylesheet' />
	<link href='css/mlab.css' rel='stylesheet' />
	<script src='//api.tiles.mapbox.com/mapbox.js/v2.1.6/mapbox.js'></script>
	<script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.2.0/leaflet-omnivore.min.js'></script>
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

	<script src='js/d3.v3.min.js'></script>
	<script src='js/center.js'></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/jquery-ui-slider-pips.min.js"></script>

	<script src="/app/libraries/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
	<script src="/app/libraries/angular/angular.js"></script>
	<script src="/app/libraries/angular-route/angular-route.js"></script>
	<script src="/app/libraries/angular-gettext/dist/angular-gettext.min.js"></script>
	<script src="/app/libraries/jquery/dist/jquery.min.js"></script>
	<script src="/app/libraries/skel/dist/skel.min.js"></script>

	<script src="/app/assets/js/jquery.scrollex.min.js"></script>
	<script src="/app/assets/js/jquery.scrolly.min.js"></script>
	<script src="/app/assets/js/util.js"></script>
	<script src="/app/assets/js/main.js"></script>

	<script type="text/javascript" src="/app/assets/js/ndt-controller.js"></script>
	<script type="text/javascript" src="/app/assets/js/ndt-browser-client.js"></script>
	<script type="text/javascript" src="/app/assets/js/ndt-wrapper.js"></script>

	<script src="/app/measure/measure.js"></script>
	<script src="/app/services/gaugeService.js"></script>
	<script src="/app/services/mlabService.js"></script>

	<script src="/js/pw-form.js"></script>

	<script src="/app/app.js"></script>

</head>

<body>

<div id="spinner">
	<div id="spin">&nbsp;</div>
	<div id="loading">LOADING</div>
</div>

<div id="welcome-container">
	<div id="header">
		<div id="intro">
			<h3>The City of Seattle is collecting information from residents about broadband experiences across the City. To contribute, please answer the following questions and then take our Broadband Speed Test:</h3>
		</div>
	</div>
	<div id="sidebar">
			<form action="/collector/collect" method="get" id="collector">
			<div class="features">
			<section>
			  <h3>The City of Seattle is collecting information from residents about broadband experiences across the City. To contribute, please answer the following questions and then take our Broadband Speed Test:</h3>
			  <div id="extra-data" class="ndt-related">
			    <div class="container">
			      <p><span class="required">*</span> Who is your Internet Service Provider?</p>
			      <p>
			        <select id="isp_user" name="isp_user" class="form-control">
			          <option value="default">------</option>
			          <option value="comcast">Comcast</option>
			          <option value="centurylink">CenturyLink</option>
			          <option value="wave">Wave</option>
			          <option value="other">Other</option>
			        </select>
			        <!-- Note: The "other" isp text field is no longer being submitted (12-15-16) -->
			        <input type="text" name="other" id="isp_user_text" class="form-control" style="display:none;"/>
			      </p>
			    </div>
			    <div class="container">
			      <p><span class="required">*</span> How do you connect to the Internet?</p>
			      <p>
			        <select id="connection_type" name="connection_type" class="form-control">
			          <option value="default">------</option>
			          <option value="wired">Wired connection</option>
			          <option value="wireless-single">Wireless connection - 1 device</option>
			          <option value="wireless-multiple">Wireless connection - shared among multiple devices or households</option>
			        </select>
			      </p>
			    </div>
			    <div class="container">
			      <p><span class="required">*</span> How much do you pay, per month?</p>
			      <p>
			        <select id="cost_of_service" name="cost_of_service" class="form-control">
			          <option value="default">------</option>
			          <option value="less_than_25">Less than $25</option>
			          <option value="25_50">$25-$50</option>
			          <option value="50_75">$50-$75</option>
			          <option value="75_100">$75-$100</option>
			          <option value="100_or_above">$100+</option>
			          <option value="dont_know">Don't know</option>
			        </select>
			      </p>
			    </div>
			    <div class="container textboxes">
			      <p>What are your advertised upload and download speeds? <strong>(Optional)</strong></p>
			      <div class="expected-values">
			        <p>Download:</p>
			        <input name="advertised_download" size="3"/><small> mbps</small>
			      </div>
			      <div class='expected-values'>
			        <p>Upload:</p>
			        <input name="advertised_upload" size="3"/><small> mbps</small>
			      </div>
			    </div>
			  </div>
			  <p>
			    <input type="checkbox" id="demoHuman" name="demoHuman" ng-model="privacyConsent">
			    <label for="demoHuman" translate style="font-size: smaller;">I understand that the data collected from this test will be anonymized and aggregated for publication to the Broadband Map and <a href="https://data.seattle.gov" target="_blank">Data.Seattle.Gov</a>. I also agree to the <a href="https://www.measurementlab.net/privacy/">M-Lab data policy</a>, which includes retention and publication of IP addresses.</label>
			  </p>
			  <p>
			    <div class="row">
			    	<div class="6u">
			        <a class="button special startButton big" ng-click="startTest()" ng-class="{disabled: (privacyConsent !== true || startButtonClass === 'disabled')}">
			          <span ng-show="!measurementComplete && startButtonClass != 'disabled'"><span translate>Begin</span> <i class="fa fa-play" aria-hidden="true"></i></span>
			          <span ng-show="measurementComplete && startButtonClass != 'disabled'"><span translate>Again</span> <i class="fa fa-repeat" aria-hidden="true"></i></span>
			          <span ng-show="startButtonClass == 'disabled'"><span translate>Testing</span> <i class="fa fa-circle-o-notch" aria-hidden="true"></i></span>
			        </a>
			    	</div>
			    	<div class="6u">
			        <span translate ng-show="privacyConsent !== true" class="privacyConsentMessage">Please agree to the data policy prior to the test.</span>
			    	</div>
			    </div>
			  </p>
			  <small translate>For more on M-Lab's data collection and measurement, including the disclosure of IP addresses, see our <a href="https://www.measurementlab.net/privacy/">Privacy Policy</a>.</small>
			</section>
			<section id="measurementSpace">
			  <div ng-show="!measurementComplete">
			    <h1 style="height: 0.5em"></h1>
			    <div class="progress-bar">
			      <canvas id="activeProgress" class="progress-active"  height="275px" width="275px"></canvas>
			      <div class="progress-label">
			        <h2>{{ currentSpeed }}</h2>
			        <h4>{{ currentPhase }}</h4>
			      </div>
			    </div>
			  </div>
			  <div ng-show="measurementComplete">
			    <h1 translate>Results</h1>
			    <table class="alt">
					<tbody>
			        <tr>
			          <td><i class="fa fa-server" aria-hidden="true"></i></td>
									<td translate>Test Server</td>
									<td><strong>{{ location }}</strong></td>
								</tr>
			        <tr>
			          <td><i class="fa fa-download" aria-hidden="true"></i></td>
									<td translate>Download</td>
									<td><strong>{{ measurementResult.s2cRate }}</strong></td>
								</tr>
			        <tr>
			          <td><i class="fa fa-upload" aria-hidden="true"></i></td>
									<td translate>Upload</td>
									<td><strong>{{ measurementResult.c2sRate }}</strong></td>
								</tr>
			        <tr>
			          <td><i class="fa fa-hourglass-start" aria-hidden="true"></i></td>
									<td translate>Latency</td>
									<td><strong>{{ measurementResult.latency }}</strong></td>
								</tr>
			        <tr>
			          <td><i class="fa fa-signal" aria-hidden="true"></i></td>
									<td translate>Retransmission</td>
									<td><strong>{{ measurementResult.loss }}</strong></td>
								</tr>
					</tbody>
				</table>
			    </div>
			    <div id="thankyou">
			        <h3 class="league-gothic">Thank you!</h3>
			        <strong>Your test results will be combined with others and will appear on the map at the end of the month.</strong><br /><br />
			        <strong>What do you want to do next?</strong>
			        <ul>
			          <li><a href="#" onclick="showMap()">View all results to-date on a map of Seattle</a></li>
			          <li><a href="http://www.seattle.gov/broadband-speed-test-about" target="_parent">Learn more about this test and how to improve your speed</a></li>
			          <li><a href="#" onclick="showSocialShare()">Share this test with your friends, colleagues, and neighbors</a></li>
			        </ul>
			      <div id="socialshare">
			            <!-- Social Button HTML -->

			          <!-- Twitter -->
			          <a href="http://twitter.com/share?url=http://www.seattle.gov/broadband-speed-test&text=I%20tested%20my%20Internet%20speeds%20with%20the%20Seattle%20Broadband%20Speed%20Test&via=CivicTechSea" target="_blank" class="share-btn twitter">
			              <i class="fa fa-twitter"></i>
			          </a>

			          <!-- Google Plus -->
			          <a href="https://plus.google.com/share?url=http://www.seattle.gov/broadband-speed-test" target="_blank" class="share-btn google-plus">
			              <i class="fa fa-google-plus"></i>
			          </a>

			          <!-- Facebook -->
			          <a href="http://www.facebook.com/sharer/sharer.php?u=http://www.seattle.gov/broadband-speed-test" target="_blank" class="share-btn facebook">
			              <i class="fa fa-facebook"></i>
			          </a>

			          <!-- StumbleUpon (url, title) -->
			          <a href="http://www.stumbleupon.com/submit?url=http://www.seattle.gov/broadband-speed-test&title=I%20tested%20my%20Internet%20speeds%20with%20the%20Seattle%20Broadband%20Speed%20Test" target="_blank" class="share-btn stumbleupon">
			              <i class="fa fa-stumbleupon"></i>
			          </a>

			          <!-- Reddit (url, title) -->
			          <a href="http://reddit.com/submit?url=http://www.seattle.gov/broadband-speed-test&title=I%20tested%20my%20Internet%20speeds%20with%20the%20Seattle%20Broadband%20Speed%20Test" target="_blank" class="share-btn reddit">
			              <i class="fa fa-reddit"></i>
			          </a>

			          <!-- LinkedIn -->
			          <a href="http://www.linkedin.com/shareArticle?url=http://www.seattle.gov/broadband-speed-test&title=I%20tested%20my%20Internet%20speeds%20with%20the%20Seattle%20Broadband%20Speed%20Test&summary=I%20tested%20my%20Internet%20speeds%20with%20the%20Seattle%20Broadband%20Speed%20Test&source=http://www.seattle.gov/broadband-speed-test" target="_blank" class="share-btn linkedin">
			              <i class="fa fa-linkedin"></i>
			          </a>

			          <!-- Email -->
			          <a href="mailto:?subject=Take%20the%20Seattle%20Broadband%20Speed Test&body=I%20just%20took%20the%20Seattle%20Broadband%20Speed%20Test,%20and%20you%20should%20too!%20Take%20the%20test%20and%20contribute%20to%20a%20map%20of%20broadband%20speeds%20across%20the%20city. http://www.seattle.gov/broadband-speed-test" target="_blank" class="share-btn email">
			              <i class="fa fa-envelope"></i>
			          </a>
			        </div>
			      </div>        
			    <input name="latitude" id="latitude" type="hidden" />
			    <input name="longitude" id="longitude" type="hidden" />
			    <input name="actual_download" id="actual_download" type="hidden" />
			    <input name="actual_upload" id="actual_upload" type="hidden" />
			    <input name="min_rtt" id="min_rtt" type="hidden" />
			    <input name="bigquery_key" id="bigquery_key" type="hidden" />
			</section>
			</form>
		</div>
  		<div id="icons">
			<div id="take-test" onclick="runTest()">
				<img src="images/speed.svg" id="test-icon" alt="Take the Speed Test" title="Take the Speed Test" /><span class="button-label">Take the Speed Test</span>
			</div>
			<div id="explore-map" onclick="showMap()">
				<img src="images/compass.png" id="exploreMap" alt="Browse the Broadband Map" title="Browse the Broadband Map" /><span class="button-label">Browse the Broadband Map</span>
			</div>
			<div id="learn-more">
				<a href="http://www.seattle.gov/broadband/broadband-speed-test/about-the-broadband-speed-test" target="_parent" ><img src="images/about.svg" alt="Learn more about this test." title="Learn more about this test." /><span class="button-label">Learn More</span></a>
			</div>
		</div>
	</div>
</div>

<div id='map'>
<div id="mapview-icons">
	<a href="index.html" alt="Take the Speed test" title="Take the Speed Test"><img src="images/speed.svg" id="mapview-test-icon" alt="Take the Speed test" title="Take the Speed Test" /></a>
	<a href="http://www.seattle.gov/broadband/broadband-speed-test/about-the-broadband-speed-test" target="_parent" ><img src="images/about.svg" alt="Learn more  about this test." title="Learn more about this test." /></a>
</div>
</div>

<script>
// This is the Piecewise mapping script.

// If set to 'hex' then GeoJSON files are assumed to be named like
// 'YYYY_MM-<resolution>.json', where 3 files exist for each of resolutions
// 'low', 'medium', 'high'.  If anything other than 'hex', then this value is
// the MMMM_YY- suffix to look for. For example:
// If set to 'city_council_districts', then the system will look for
// GeoJSON files like 'MMMM_YY-city_council_districts.geojson'.

// polygonType is a variable name defining your aggregation regions. 
// Change the name to reflect the aggregated regions you are using if needed.
var polygonType = 'census_block_groups';

// Either 'topojson' or 'geojson'.  The Node.js script creates both TopoJSON and
// GeoJSON files.  TopoJSON files are significantly smaller in size, but need to
// be converted to GeoJSON by the browser.  There may be some balance between
// loading a smaller file across the network and the processing time on the
// client-side to convert the TopJSON to GeoJSON.  I would conjecture that
// the network is the most limiting factor and that generally TopoJSON will be
// the right choice.  TODO: prove this theory.
var jsonType = "topojson";


// The minimum number of data points in any given polygon for a it to be
// considered statistically relevant.  These cells will either not be displayed
// or will be displayed with a different styling.
var minDataPoints = 5;

// Defines how each overlay is treated on load.  If an overlay is enabled, then
// there will be a checkbox for it in the layers control. 'defaultOn' determines
// whether it will be displayed by default. NOTE: If only a single overlay is
// enabled, then no checkbox will be displayed, since it doesn't make much sense
// to disable the only meaningful layer that exists.
var overlays = {
	'polygon': {
		'enabled': true,
		'defaultOn': true
	},
	'plot': {
		'enabled': false,
		'defaultOn': false
	}
};

// Defines the layers that are going to be added to the map.
var geoLayers = {
	'census_block_groups': {
		'name': 'Census block groups',
		'polygonFile': 'seattle_census10_blockgroups.topojson',
		'dataUrl': 'stats/q/by_census_block?format=json&stats=AverageRTT,DownloadCount,MedianDownload,AverageDownload,UploadCount,MedianUpload,AverageUpload,DownloadMax,UploadMax&b.spatial_join=key&b.time_slices=month&f.time_slices=',
		'dbKey': 'geoid10',
		'geoKey': 'GEOID10',
		'cache': null,
		'layer': null
	},
};

// Which of the geoLayers should be the one added to the map by default
var defaultLayer = 'census_block_groups';

// If set to true, then prefetch the GeoJSON files into a local cache.  WARNING:
// You may not want to enable if you expect mobile, low bandwidth, or otherwise
// bandwidth restricted users, as this can pull in many megabytes of data.
var seedCache = false;

// The inteval (in milliseconds) to use when animating the map.
var animateInterval = 1500;

// Center and zoom level of map.  center may be pulled in via js/center.js, but
// if not then just set it to the center of the USA.
if ( typeof center == 'undefined' ) {
	var center = [38.8961302513129,-99.04025268554688]; //USA
}
var zoom = 11;

// These are the labels that will be used for the month slider in the control
// box in the lower left corner.
var monthNames = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct',
	'Nov','Dec'];

// An object which will hold cached GeoJSON files so that we don't have to fetch
// them from the server more than once.  This could potentially be problematic
// if there are many files and they are large.
var geoJsonCache = {};
var geometryCache = null;

// The oldest year and month for which we have data.
var startYear = 2014;
var startMonth = 1;

// Get current year/month into variables
var currentYear = new Date().getFullYear();
var currentMonth = new Date().getMonth() + 1;
// Zero pad the front of the month
currentMonth = currentMonth < 10 ? '0' + currentMonth : currentMonth;

// Be sure that we actually have data for the current month.  If not, then fall
// back to the previous month.
var start = Date.UTC(currentYear, currentMonth - 1, 1) / 1000;
var end = Math.floor(Date.now() / 1000);
var dataUrl = geoLayers[defaultLayer]['dataUrl'] + start + ',' + end;
$.ajax({
	url: dataUrl,
	dataType: 'json',
	async: false,
	success: function(resp) {
		if ( ! resp.features.length ) {
			if ( currentMonth == '01' ) {
				currentMonth = 12;
				currentYear = currentYear - 1;
			} else {
				currentMonth = currentMonth - 1;
				currentMonth = currentMonth < 10 ?
					'0' + currentMonth : currentMonth;
			}
			console.log("No data for current year/month, using last" +
				" month instead.");
		}
	}
});

// An object with the years and months we have data for.  This will be used to
// auto-generate various form controls.
var dates = {};
var thisYear = startYear;
while (thisYear <= currentYear) {
	if (thisYear == currentYear) {
		var months = [];
		for (i = 1; i <= currentMonth; i++) { months.push(i) };
		dates[thisYear] = months
	} else {
		dates[thisYear] = ['1','2','3','4','5','6','7','8','9','10','11','12'];
	}
	thisYear++;
}

// Create the map
var map = L.map('map', {zoomControl: false}).setView(center, zoom);
map.scrollWheelZoom.disable();
var control = L.control.zoom({position: 'topright'});
map.addControl(control);

// Use Open Street Maps as a base tile layer
// var osmLayer = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
//	attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a>' +
//		'contributors'
// });

// Use Mapbox as a base tile layer
// var mapboxLayer = L.tileLayer(
//		'https://{s}.tiles.mapbox.com/v3/newamerica.lcl1jan5/{z}/{x}/{y}.png', {
//	attribution: '&copy; <a href="http://mapbox.com/">Mapbox</a>'
// });
 
// Use Mapbox as a base tile layer
var mapboxLayer = L.tileLayer(
		'https://{s}.tiles.mapbox.com/v3/newamerica.lcl1jan5/{z}/{x}/{y}.png', {
	attribution: '&copy; <a href="http://mapbox.com/">Mapbox</a>'
});

// Set the default base tile layer. 
// If using Open Street Maps: map.addLayer(osmLayer);
// If using Mapbox: map.addLayer(mapboxLayer);
map.addLayer(mapboxLayer);

// Add other base tile layer providers as needed
var baseLayers = {
	 'Mapbox': mapboxLayer
};

var layerCtrl = L.control.layers(baseLayers, null, { collapsed: false, position: 'bottomleft' });
addControls();
layerCtrl.addTo(map);
addLegend();

for (var geoLayer in geoLayers) {
	setupLayer(geoLayer);
}



</script>

</body>

</html>
